.terragrunt-cache
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log
.venv/
__pycache__/
*.pyc
.DS_Store
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/